.plogo1{
    max-width: 18%;
}

.about-content ul {
    list-style-type: disc !important;
}
.author{
    clip-path: circle(50% at 50% 50%);
}

@media only screen and (max-width: 600px){
	.plogo1{
    max-width: 15%;
    position: absolute;
    top: 14%;
    }
}
.logo-fotter{
    width: 14ch;
}
